# A function for excel combination

> **Before using it, download all the start-up xlsx from google drive and store them in one folder. To running the function, please do not change the format of those online google sheet. But I will modify the function for sure if any format changes occured**

> **The function will export a new excel file-'master_sheet_byTeam.xlsx' and display basic info of this file**

### Step 1: Import the Packages

In [1]:
import glob
import os
import pandas as pd

In [26]:
dirt = '../data/team_new/*.xlsx'
master_sheet = pd.DataFrame() # create an empty dataframe
for path in glob.glob(dirt):
    dirname, filename = os.path.split(path) # split the dirname and filename
    df = pd.read_excel(path, header = 1) # read all xlsx file under path
    df['Comp_Name'] = os.path.splitext(filename)[0] # append the filename without extension to the data frame
    master_sheet = master_sheet.append(df, ignore_index = True)

In [28]:
master_sheet.head()

,Back-End,Business Development,Comp_Name,Content Writer / Editor,Customer Service,Front-End,Graphic Design,Inight,Mining,Public Relations,Social Media,UX Design,Unnamed: 5
0,NaN,NaN,Augmented,karinanguyen@berkeley.edu,NaN,NaN,NaN,tp27@rice.edu,tp27@rice.edu,NaN,NaN,tp27@rice.edu,NaN
1,haoran.wen@rutgers.edu,NaN,Augmented,NaN,NaN,NaN,NaN,haoran.wen@rutgers.edu,NaN,NaN,NaN,haoran.wen@rutgers.edu,NaN
2,NaN,NaN,Aura App,NaN,NaN,NaN,NaN,(Ziyang Sun) zis080@eng.ucsd.edu,(Ziyang Sun) zis080@eng.ucsd.edu,NaN,NaN,NaN,NaN
3,nshao@macalester.edu,NaN,Aura App,NaN,NaN,NaN,NaN,asingh45@syr.edu,asingh45@syr.edu,NaN,NaN,NaN,NaN
4,dovranovs@berea.edu,NaN,Aura App,NaN,NaN,NaN,dovranovs@berea.edu,nshao@macalester.edu,nshao@macalester.edu,NaN,NaN,dovranovs@berea.edu,NaN

In [29]:
df = pd.melt(master_sheet, id_vars=['Comp_Name']) #reshape the data frrame

In [30]:
df.head()

   Comp_Name  variable                   value
0  Augmented  Back-End                     NaN
1  Augmented  Back-End  haoran.wen@rutgers.edu
2   Aura App  Back-End                     NaN
3   Aura App  Back-End    nshao@macalester.edu
4   Aura App  Back-End     dovranovs@berea.edu

In [31]:
len(df)

2916

In [32]:
df = df.dropna(how = 'any')
len(df)

752

In [34]:
df.rename(columns={'variable': 'Team','value': 'Email'}, inplace=True) #rename the col
df= df[['Team','Email','Comp_Name']] #re-order the col

In [35]:
df.head()

        Team                   Email  Comp_Name
1   Back-End  haoran.wen@rutgers.edu  Augmented
3   Back-End    nshao@macalester.edu   Aura App
4   Back-End     dovranovs@berea.edu   Aura App
9   Back-End    nshao@macalester.edu    B4Usend
11  Back-End     dovranovs@berea.edu    B4Usend

In [36]:
df.to_excel('master_sheet_Feb22.xlsx')

### Step 2: Running the xlsx_combine function

In [ ]:
def xlsx_combine(directory):
    master_sheet = pd.DataFrame() # create an empty dataframe
    for path in glob.glob(directory):
        dirname, filename = os.path.split(path) # split the dirname and filename
        df = pd.read_excel(path) # read all xlsx file under path
        df['Comp_Name'] = os.path.splitext(filename)[0] # append the filename without extension to the data frame
        master_sheet = master_sheet.append(df, ignore_index = True)
        
    #rename the columns 
    master_sheet.rename(columns={'Team 1: Developers': 'T1_Dev_FE', 
                   'Unnamed: 1': 'T1_Dev_BE',
                   'Team 2: Creative': 'T2_Cre_ED',
                   'Unnamed: 3': 'T2_Cre_UI',
                   'Unnamed: 4': 'T2_Cre_UX',
                   '                                      Team 3: Marketing': 'T3_Mkt_SM',
                   'Unnamed: 6': 'T3_Mkt_CS',
                   'Unnamed: 7': 'T3_Mkt_PR',
                   'Unnamed: 8': 'T3_Mkr_BD',
                   '                          Team 4: Data': 'T4_Data_M',
                   'Unnamed: 10': 'T4_Data_I',}, inplace=True)
    
    master_sheet = master_sheet.drop(master_sheet[master_sheet.T1_Dev_FE == 'Front-End'].index)# remove all subtitles
    
    df = pd.melt(master_sheet, id_vars=['Comp_Name']) #reshape the data frrame
    df = df.dropna(how = 'any')
    df.rename(columns={'variable': 'Team','value': 'Email'}, inplace=True) #rename the col
    df= df[['Team','Email','Comp_Name']] #re-order the col
    
    print('----------------File Preview----------------')
    print(df.head())
    print('----------------Basic Info------------------')
    print(df.Team.value_counts())
    print('--------------------------------------------')
    #sns.countplot(y='Team', data = df) 
    
    df.to_excel('master_sheet_Feb22.xlsx') #export the new excel

### Step 3: Modify the dictory as you needed

In [ ]:
dictory = '../data/team_new/*.xlsx' # you can change the part '/data/TEAMS/' to your file path.
xlsx_combine(dictory)

## Final Step: Check the 'master_sheet_byTeam.xlsx' which generated in the same folder with this notebook

In [ ]:
#df = pd.read_excel('master_sheet_byTeam.xlsx')
df.tail(90)

In [ ]:
df_1 = df[['Team','Email']]
len(df_1)

In [ ]:
df_1.head(100)

In [ ]:
df_1.drop_duplicates(subset=['Email'], inplace=True)
df_1

In [ ]:
df_1.to_excel('master_sheet_Email.xlsx')

# lab selection sheet

In [63]:
df = pd.read_excel('../data/lab_selection_new.xlsx')
df.head(2)

,Submitted On,Pick your Startups,Pick your Teams,Email Address
0,2019-02-01 10:48:50,PARADISIO,TEAM 1 - Developers App/Site - Back End,yuejunm@andrew.cmu.edu
1,2019-01-31 08:07:50,"XPR, Aura App, Rise Capital, Second Chances, M...","TEAM 1 - Developers App/Site - Back End, TEAM ...",zhaolingmei0@outlook.com

In [64]:
df.rename(columns={'Pick your Teams': 'Team','Email Address': 'Email'}, inplace=True)
df = df[['Email','Team']]
df.head(2)

                      Email                                               Team
0    yuejunm@andrew.cmu.edu            TEAM 1 - Developers App/Site - Back End
1  zhaolingmei0@outlook.com  TEAM 1 - Developers App/Site - Back End, TEAM ...

In [44]:
task = pd.read_excel('master_sheet_Feb22.xlsx')
task.head()

        Team                   Email  Comp_Name
1   Back-End  haoran.wen@rutgers.edu  Augmented
3   Back-End    nshao@macalester.edu   Aura App
4   Back-End     dovranovs@berea.edu   Aura App
9   Back-End    nshao@macalester.edu    B4Usend
11  Back-End     dovranovs@berea.edu    B4Usend

In [45]:
set(task['Team'])

{'Back-End',
 'Business Development',
 'Content Writer / Editor',
 'Customer Service',
 'Front-End',
 'Graphic Design',
 'Inight',
 'Mining',
 'Public Relations',
 'Social Media',
 'UX Design'}

In [46]:
df.head()

                      Email                                               Team
0    yuejunm@andrew.cmu.edu            TEAM 1 - Developers App/Site - Back End
1  zhaolingmei0@outlook.com  TEAM 1 - Developers App/Site - Back End, TEAM ...
2          ywang552@syr.edu  TEAM 1 - Developers App/Site - Back End, TEAM ...
3    akash.nitian@gmail.com  TEAM 1 - Developers App/Site - Back End, TEAM ...
4    connie.j.chi@gmail.com  TEAM 1 - Developers App/Site - Front End, TEAM...

In [65]:
team_email = [[],[]]
for email, team in df.values:
    if ('Front End' in team):
        team_email[0].append('Front-End')
        team_email[1].append(email)
    if ('Back End' in team):
        team_email[0].append('Back-End')
        team_email[1].append(email)
    if ('Editor' in team):
        team_email[0].append('Content Writer / Editor')
        team_email[1].append(email)
    if ('Graphic' in team):
        team_email[0].append('Graphic Design')
        team_email[1].append(email)
    if ('UX' in team):
        team_email[0].append('UX Design')
        team_email[1].append(email)
    if ('Business' in team):
        team_email[0].append('Business Development')
        team_email[1].append(email)
    if ('Public' in team):
        team_email[0].append('Public Relations')
        team_email[1].append(email)
    if ('Service' in team):
        team_email[0].append('Customer Service')
        team_email[1].append(email)
    if ('Social' in team):
        team_email[0].append('Social Media')
        team_email[1].append(email)
    if ('Insight' in team):
        team_email[0].append('Inight')
        team_email[1].append(email)
    if ('Mining' in team):
        team_email[0].append('Mining')
        team_email[1].append(email)

In [66]:
data = pd.DataFrame(team_email).T
data.head()

          0                         1
0  Back-End    yuejunm@andrew.cmu.edu
1  Back-End  zhaolingmei0@outlook.com
2    Inight  zhaolingmei0@outlook.com
3    Mining  zhaolingmei0@outlook.com
4  Back-End          ywang552@syr.edu

In [67]:
len(data)

238

In [68]:
data.to_excel('lab_selection_Feb22.xlsx')

In [58]:
task = task[['Team','Email']]
task.head()

        Team                   Email
1   Back-End  haoran.wen@rutgers.edu
3   Back-End    nshao@macalester.edu
4   Back-End     dovranovs@berea.edu
9   Back-End    nshao@macalester.edu
11  Back-End     dovranovs@berea.edu

In [69]:
lab = pd.read_excel('lab_selection_Feb22.xlsx')
lab.head()

       Team                     Email
0  Back-End    yuejunm@andrew.cmu.edu
1  Back-End  zhaolingmei0@outlook.com
2    Inight  zhaolingmei0@outlook.com
3    Mining  zhaolingmei0@outlook.com
4  Back-End          ywang552@syr.edu

In [70]:
set(lab['Team'])

{'Back-End',
 'Business Development',
 'Content Writer / Editor',
 'Customer Service',
 'Front-End',
 'Graphic Design',
 'Inight',
 'Mining',
 'Public Relations',
 'Social Media',
 'UX Design'}

In [71]:
set(task['Team'])

{'Back-End',
 'Business Development',
 'Content Writer / Editor',
 'Customer Service',
 'Front-End',
 'Graphic Design',
 'Inight',
 'Mining',
 'Public Relations',
 'Social Media',
 'UX Design'}

In [74]:
len(lab)+len(task)

990

In [77]:
frames = [lab, task]
result = pd.concat(frames)

In [78]:
len(result)

990

In [80]:
result.to_excel('new_Feb22.xlsx')

# UPWORKER

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('../data/UPWORK_APPL.xlsx')
#df1 = pd.read_csv('../data/UPWORK_APPL_2.csv')
#df1.head(2)

In [ ]:
df1['Name'] = df1['Student First Name'] + ' ' +df1['Student Last Name']
df1_sub = df1[['Name','Student Email']].astype(str)
df1_sub.head(2)

In [ ]:
df1_sub.Name = df1_sub.Name.str.strip()

In [ ]:
df1_sub[df1_sub.Name == 'Doyle Chung']

In [ ]:
df2 = pd.read_excel('../data/UPWORKERS.xlsx')
df2 = df2.astype(str)
df2.head(2)

In [ ]:
df2[df2.Name == 'Abhi Patel']

In [ ]:
#https://stackoverflow.com/questions/41476150/removing-space-from-dataframe-columns-in-pandas
df2.Name = df2.Name.str.strip()
df2[df2.Name == 'Abhi Patel']

In [ ]:
df2['Name'].isin(df1_sub['Name']).value_counts()

In [ ]:
#df2.drop_duplicates(subset=['Name'], inplace=True)
#df1_sub.drop_duplicates(subset=['Name'], inplace=True)

In [ ]:
result = pd.merge(df1_sub, df2, how = 'inner', left_on = 'Name', right_on = 'Name')
result.head()

In [ ]:
len(result)

In [ ]:
#pd.value_counts(result.Name)[:5]

In [ ]:
result.drop_duplicates(subset=['Name'], inplace=True)
len(result)

In [ ]:
result.head()

In [ ]:
result2 = pd.merge(df1_sub, df2, how = 'left', left_on = 'Name', right_on = 'Name')
result2.head()

In [ ]:
len(result2)

In [ ]:
result2.drop_duplicates(subset=['Name'], inplace=True)
len(result2)

In [ ]:
null_data = result2[result2.isnull().any(axis=1)]
len(null_data)

In [ ]:
null_data.head()

In [ ]:
null_data[null_data.Name == 'Ruiyu Hu']

In [ ]:
result.drop_duplicates(subset=['Name'], inplace=True)
len(result)

In [ ]:
result.to_excel('Upwork_Email.xlsx')

In [ ]:
null_data.to_excel('Upwork_Email_UnSign.xlsx')