# Automated Testing: BM25
## 1. Results from live site

In [1]:
import requests
from bs4 import BeautifulSoup

def get_sr(keywords):
    baseurl='https://csc575proj.herokuapp.com/?q='
    url=baseurl+keywords
    print(url.replace(' ','%20'))
    r = requests.get(url)
    # r.text[:200]

    soup = BeautifulSoup(r.content, 'html.parser') 
    docs = soup.findAll('a')
    sr=[]
    for doc in docs:
    #     print(doc.text)
        sr.append(doc.text)
    return sr

#keywords='i love sql'
#get_sr(keywords)

C:\Users\RayHu\Anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.23) or chardet (2.3.0) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
import pandas as pd
df = pd.read_csv('testset_new.csv')
search_terms = df.columns[2:]

## 2. Ground Truth from manual lookup on 73 resumes

In [3]:
results={}
for st in search_terms:
    web_r_doc=set([ x[:-4] for x in get_sr(st)])
    test_r_doc=set(df[df[st]=='R']['File Name'])
#     print(st)
    results.setdefault(st,[len(web_r_doc),len(test_r_doc),len(test_r_doc.intersection(web_r_doc))])
#     print(len(web_r_doc))
#     print()
#     print(len(test_r_doc))
#     print(len(test_r_doc.intersection(web_r_doc)))
#     print()

https://csc575proj.herokuapp.com/?q=sql%20or%20Java
https://csc575proj.herokuapp.com/?q=electrical
https://csc575proj.herokuapp.com/?q=database
https://csc575proj.herokuapp.com/?q=cad
https://csc575proj.herokuapp.com/?q=plumber
https://csc575proj.herokuapp.com/?q=electronics
https://csc575proj.herokuapp.com/?q=mechanical
https://csc575proj.herokuapp.com/?q=mba
https://csc575proj.herokuapp.com/?q=safety
https://csc575proj.herokuapp.com/?q=java
https://csc575proj.herokuapp.com/?q=marketing
https://csc575proj.herokuapp.com/?q=c++
https://csc575proj.herokuapp.com/?q=matlab
https://csc575proj.herokuapp.com/?q=assistant
https://csc575proj.herokuapp.com/?q=construction
https://csc575proj.herokuapp.com/?q=finance
https://csc575proj.herokuapp.com/?q=finance%20mba
https://csc575proj.herokuapp.com/?q=marketing%20mba
https://csc575proj.herokuapp.com/?q=sales
https://csc575proj.herokuapp.com/?q=construction%20engineer
https://csc575proj.herokuapp.com/?q=telecom
https://csc575proj.herokuapp.com/?q=office

## Key: [web,test,intersection]

In [5]:
pd.DataFrame.from_dict(results, orient='index')

                         0   1   2
sql or Java             13   6   3
electrical              90  25  17
database                19   2   2
cad                     31   6   4
plumber                  2   1   1
electronics             50   6   5
mechanical              54   5   4
mba                     23   9   9
safety                  70  16  16
java                     8   3   2
marketing               32   8   8
c++                      0   3   0
matlab                   6   2   1
assistant               31   2   2
construction            71   3   3
finance                 25   4   4
finance mba             39   3   3
marketing mba           42   7   7
sales                    0   6   0
construction engineer  153   2   2
telecom                  8   2   0
office                 135   3   3

In [ ]:
'''# (get_sr('SQL or Java'))
sample_relevance = [ x[:-4] for x in get_sr(st)]
set(df[df['SQL or Java']=='R']['File Name'])
set(sample_relevance).intersection(set(df[df['SQL or Java']=='R']['File Name']))'''